:root {
  --brown-border: #b2987d;
  --primary-text: #000;
  --white-bg: #fff;
  --dark-bg: #252323;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.limit-container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

